.introdction-container { 
    border: 2px solid #0e5ff689;
    box-shadow: 0px 0px 3px 0px #0e5ff689;
    border-radius: 30px;
    width: 32rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
  
}
.intrudction-title h3{ 
    font-size: 2rem;
    color: #0e5ef6;
    padding: 1rem;
}
.intrudction-title p { 
    font-weight: 300;
}
.intrudction-time { 
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 5rem 0rem 0rem 3rem;
    color: grey;
    font-size: 1.2rem;
}
span { 
    color: #0e5ef6;
    font-weight: 600;
}
.times { 
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}
.intrudction-time h5 {
    display: flex;
    gap: 0.7rem;
    align-items: center;
}
.icone { 
    width: 25px;
    height: 25px;
}